{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-around my-row">
        <div class="card bg-dark text-light mb-2 mb-md-0" style="width: 18rem;">
            <h5 class="card-header">CS3401</h5>
            <div class="card-body">
                <p class="card-text">Faculty - Somaraju Suvvari<br>Course Title - CS3401</p>
                <div class="row justify-content-around">
                    <a class="btn btn-primary" href="{{ url_for('video_lectures', course='CS3401') }}">Video
                        Lectures</a>
                    <a class="btn btn-primary" href="{{ url_for('notes', course='CS3401') }}">Notes</a>
                </div>
            </div>
        </div>
        <div class="card bg-dark text-light mb-2 mb-md-0" style="width: 18rem;">
            <h5 class="card-header">CS3402</h5>
            <div class="card-body">
                <p class="card-text">Faculty - Dr. Dinesh Dash<br>Course Title - CS3402</p>
                <div class="row justify-content-around">
                    <a class="btn btn-primary" href="{{ url_for('video_lectures', course='CS3402') }}">Video
                        Lectures</a>
                        <a class="btn btn-primary" href="{{ url_for('notes', course='CS3402') }}">Notes</a>
                    </div>
            </div>
        </div>
        <div class="card bg-dark text-light" style="width: 18rem;">
            <h5 class="card-header">CS3403</h5>
            <div class="card-body">
                <p class="card-text">Faculty - Kumar Abhishek<br>Course Title - CS3403</p>
                <div class="row justify-content-around">
                    <a class="btn btn-primary" href="{{ url_for('video_lectures', course='CS3403') }}">Video
                        Lectures</a>
                        <a class="btn btn-primary" href="{{ url_for('notes', course='CS3403') }}">Notes</a>
                    </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-around my-row">
        <div class="card bg-dark text-light mb-2 mb-md-0" style="width: 18rem;">
            <h5 class="card-header">CE3401</h5>
            <div class="card-body">
                <p class="card-text">Faculty - Mr. XYZ<br>Course Title - CE3401</p>
                <div class="row justify-content-around">
                    <a class="btn btn-primary" href="{{ url_for('video_lectures', course='CE3401') }}">Video
                        Lectures</a>
                        <a class="btn btn-primary" href="{{ url_for('notes', course='CE3401') }}">Notes</a>
                    </div>
            </div>
        </div>
        <div class="card bg-dark text-light mb-2 mb-md-0" style="width: 18rem;">
            <h5 class="card-header">MA3401</h5>
            <div class="card-body">
                <p class="card-text">Faculty - Mr. XYZ<br>Course Title - MA3401</p>
                <div class="row justify-content-around">
                    <a class="btn btn-primary" href="{{ url_for('video_lectures', course='MA3401') }}">Video
                        Lectures</a>
                        <a class="btn btn-primary" href="{{ url_for('notes', course='MA3401') }}">Notes</a>
                    </div>
            </div>
        </div>
        <div class="card bg-dark text-light" style="width: 18rem;">
            <h5 class="card-header">EC3401</h5>
            <div class="card-body">
                <p class="card-text">Faculty - Mr. XYZ<br>Course Title - EC3401</p>
                <div class="row justify-content-around">
                    <a class="btn btn-primary" href="{{ url_for('video_lectures', course='EC3401') }}">Video
                        Lectures</a>
                        <a class="btn btn-primary" href="{{ url_for('notes', course='EC3401') }}">Notes</a>
                    </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-around my-row">
        <div class="card bg-dark text-light mb-2 mb-md-0" style="width: 18rem;">
            <h5 class="card-header">CSL3401</h5>
            <div class="card-body">
                <p class="card-text">Faculty - Somaraju Suvvari<br>Course Title - CSL3401</p>
                <div class="row justify-content-around">
                    <a class="btn btn-primary" href="{{ url_for('video_lectures', course='CSL3401') }}">Video
                        Lectures</a>
                    <a class="btn btn-primary" href="{{ url_for('notes', course='CSL3401') }}">Notes</a>

                </div>
            </div>
        </div>
        <div class="card bg-dark text-light mb-2 mb-md-0" style="width: 18rem;">
            <h5 class="card-header">CSL3403</h5>
            <div class="card-body">
                <p class="card-text">Faculty - Kumar Abhishek<br>Course Title - CSL3403</p>
                <div class="row justify-content-around">
                    <a class="btn btn-primary" href="{{ url_for('video_lectures', course='CSL3403') }}">Video
                        Lectures</a>
                        <a class="btn btn-primary" href="{{ url_for('notes', course='CSL3403') }}">Notes</a>
                    </div>
            </div>
        </div>
        <div class="card bg-dark text-light " style="width: 18rem;">
            <h5 class="card-header">ECL3401</h5>
            <div class="card-body">
                <p class="card-text">Faculty - Mr. XYZ<br>Course Title - ECL3401</p>
                <div class="row justify-content-around">
                    <a class="btn btn-primary" href="{{ url_for('video_lectures', course='ECL3403') }}">Video
                        Lectures</a>
                        <a class="btn btn-primary" href="{{ url_for('notes', course='ECL3401') }}">Notes</a>
                    </div>
            </div>
        </div>
    </div>


    {% endblock content%}